.download {
  margin-bottom: 250px;

  &__main {
    display: flex;
    align-items: center;
  }
  &__content {
    padding-left: 90px;
  }
  &__heading {
    max-width: 255px;
  }
  &__desc {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
  &__btn {
    i {
      margin-left: 15px;
    }
  }

  &__image {
    transform: translateX(28px);
    margin-left: calc(71px - 28px);
  }

  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    &__image{
      margin-right: 40px;
      width: 50%;
    }
    &__content{
      padding-left: 0;
    }
  }
  @media screen and (max-width: 1023px) {
    &__heading{
      max-width: 100%;
    }
    &__main{
      flex-direction: column;
    }
    &__content{
      padding-left: 0;
      margin-bottom: 20px;
    }
    &__image{
      transform: translateX(0);
      margin-left: 0;
    }
  }
}
