.virtual {
  margin-bottom: 190px;
  background: url("../images/element.png") no-repeat top left -50px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    font-weight: 700;
    color: black;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
  }
  &__desc {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 45px;
  }

  &__image {
    transform: translateX(30px);
    margin-left: calc(110px - 30px);
  }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    &__image {
      transform: translateX(0);
      margin-left: 30px;
      width: 50%;
    }
  }
  @media screen and (max-width: 1023px) {
    margin-bottom: 100px;
    &__main {
      flex-direction: column;
    }
    &__image {
      margin-left: 0;
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 767px) {
    &__inner {
      margin-bottom: 20px;
    }
    &__heading {
      font-size: 36px;
    }
  }
}
